libcoap-install-linux/*

/libcoap-install-linux

/dotenv-c
dotenv-c/*

.mmd


# Ignorar todos los archivos .md excepto README.md exactamente
*.md
!/README.md
!/ESPECIFICACION_INTEGRACION_NUEVOS_ENDPOINTS.md

!**/README.md

Prueba_certs/
Prueba_certs/*


CAPITULOS_TFG/
CAPITULOS_TFG/*